<template>
    <!-- eslint-disable -->
    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
        <path class="icon__attention-circle" d="M32 64C49.6731 64 64 49.6731 64 32C64 14.3269 49.6731 0 32 0C14.3269 0 0 14.3269 0 32C0 49.6731 14.3269 64 32 64Z" fill="#fde0df" />
        <path class="icon__attention-exclamation" d="M36 48.3636C36 46.1818 34.2222 44.7273 32 44.7273C29.3333 44.7273 28 46.1818 28 48.3636C28 50.5455 29.7778 52 32 52C34.6667 52 36 50.1818 36 48.3636ZM34.2222 40L35.5556 12H28.8889L29.7778 40H34.2222Z" fill="#E54C4C"/>
    </svg>
</template>
