<template>
    <!-- eslint-disable -->
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M9.82278 7.94969L15.6962 2.11321C16.1013 1.71069 16.1013 0.90566 15.6962 0.301887C15.2911 -0.100629 14.481 -0.100629 13.8734 0.301887L8 6.13836L2.12658 0.301887C1.72152 -0.100629 0.911392 -0.100629 0.303797 0.301887C-0.101266 0.704403 -0.101266 1.50943 0.303797 2.11321L6.17722 7.94969L0.303797 13.7862C-0.101266 14.1887 -0.101266 14.9937 0.303797 15.5975C0.506329 15.7987 0.911392 16 1.11392 16C1.31646 16 1.92405 15.7987 2.12658 15.5975L8 9.76101L13.8734 15.5975C14.0759 15.7987 14.481 16 14.8861 16C15.2911 16 15.4937 15.7987 15.6962 15.5975C16.1013 15.195 16.1013 14.3899 15.6962 13.7862L9.82278 7.94969Z" fill="#BDBDBD"/>
    </svg>
</template>
