<template>
  <div>
    <table-users
      @create="_goToCreatePage"
      @edit="(data) => _goToEditPage(data.id)"
      @changeSelectRoles="_changeSelectUsersRoles"
      @removeItem="_removeUser"
      @removeMultiplyItem="_removeMultiplyUser"
      @updatePage="_updatePage"
      @updateSearchText="_findUsersByText"
      :roles="roles"
      :users="getUsersList"
      :totalDesserts="user.totalDesserts"
      :totalPages="user.totalPages"
      ref="tableUsers"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import TableUsers from '@components/Admin/TableUsers/TableUsers.vue';
import userMixin from '@/mixins/Users/userMixin';

export default {
  name: 'ActiveUsers',
  components: {
    TableUsers,
  },
  mixins: [
    userMixin,
  ],
  computed: {
    ...mapGetters({
      userLoading: 'users/isLoading',
      users: 'users/getUsers',
      roles: 'roles/getRoles',
    }),
    getUsersList() {
      return this.users.data;
    },
  },
  data() {
    return {
      userModal: {
        show: false,
        title: 'Create',
        textButtonSubmit: 'Create',
        type: 'create',
        formData: null,
      },
      user: {
        page: 1,
        search: null,
        role_id: null,
        totalDesserts: 0,
        totalPages: 0,
      },
    };
  },
  created() {
    this.getUsers();
    this._addEventListener();
  },
  methods: {
    getUsers(params) {
      this.$api.users.getUsers(params).then(() => {
        this.user.totalDesserts = this.users.meta.pagination.total;
        this.user.totalPages = this.users.meta.pagination.total_pages;
      });
    },
  },
  beforeDestroy() {
    this._removeEventListener();
  },
};
</script>
