// helpers
.justify-content-end {
    justify-content: flex-end!important;
}

html, body{
  overflow: hidden !important;
}

.disabled-item{
  pointer-events: none !important;
  opacity: 0.5;
}
.styled-scroll, .v-dialog{
  &::-webkit-scrollbar {
    width: 13px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 5px;
  }
}
.full-wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-application .link{
  color: $accentColor;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
// Buttons

button:focus{
  outline: none;
}
.m-button{
  display: inline-block;
  width: 152px;
  max-width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #CDCDCD;
  color: #A7A7A7;
  background: #fff;
  line-height: 1;
  &.m-button_danger{
    border: 1px solid $dangerColor;
    color: #fff;
    background: $dangerColor
  }
  &.m-button_success{
    border: 1px solid $tertiaryColor;
    color: #fff;
    background: $tertiaryColor;
  }
  &:hover{
    opacity: 0.9;
  }
  &:disabled{
    background-color: $elementColor;
    border-color: $elementColor;
    color: #888888;
  }
}

.warning-icon{
  display: inline-block;
  width: 14px;
  height: 14px;
  text-align: center;
  font-size: 11px;
  line-height: 1;
  font-style: normal;
  padding: 2px 1px;
  background-color: $dangerColor;
  color: #fff;
  border-radius: 50%;
}

.form-group {
  padding-top: 30px;
  position: relative;
  max-width: 100%;
  .v-input input{
    max-height: 40px;
  }
  .v-input__control textarea{
    padding: 0 12px;
    font-size: 14px;
  }
  .label{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    color: $defaultColor;
    margin-bottom: 8px;
    display: block;
    .warning-icon {
      opacity: 0;
    }
  }
  &.has-error{
    .warning-icon {
      opacity: 1;
    }
    .v-text-field fieldset {
      border-color: $dangerColor !important;
    }
  }
  .error--text + .label, .error--text + .v-menu + .label{
    .warning-icon {
      opacity: 1;
    }
  }
  &.textfield{
    .v-text-field {
      .v-input__append-inner {
        margin-top: 9px;
        i {
          color: #969696;
        }
      }
      .v-text-field__details {
        margin-bottom: 5px;
        padding-left: 0;
      }
      .v-input__control .v-input__slot {
        padding: 0;
        min-height: 40px;
        box-shadow: none;
        input {
          padding: 0 12px;
          font-size: 14px;
          height: 100%;
        }
      }
      fieldset {
        border-color: $elementColor;
        border-width: 1px;
      }
      &.v-input--is-focused {
        fieldset {
          border-color: $accentColor;
        }
      }
      &.error--text {
        fieldset {
          border-color: $dangerColor;
        }
      }
    }
  }
}
.form-group_radio{
  .v-input--selection-controls{
    margin-top: 0;
    padding-top: 0;
    .v-label{
      font-size: 14px;
      position: relative !important;
      top: 1px !important;
      color: $defaultColor;
    }
  }
}
// Icons

.icon-attention__size_small{
  width: 18px;
  height: 17px;
}

.icon-attention__theme_danger{
  .icon__attention-circle{
    fill: #D55554;
  }
  .icon__attention-exclamation{
    fill: #fff;
  }
}
// auth form

.auth-form__submit{
  width: 100px;
}
.auth-form__actions{
  margin-top: 10px;
}
.auth-form__actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .link{
    margin-left: 10px;
    font-weight: 600;
  }
}

// Modals
.v-card{
  position: relative;
}
.modal-close{
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 24px;
}

// Tabs
.tab_theme-default{
    .v-tab--active{
        color: $accentColor;
    }
    .v-tabs-slider {
        background-color: $accentColor;
    }
}

// Search
.treeview__search{
    color: #595959 !important;
    &.error--text{
        .v-input__slot{
            border-color: $dangerColor !important;
        }
    }
    input, .v-label{
        font-size: 14px;
        padding: 0 !important;
    }
    .v-icon{
        font-size: 16px !important;
    }
    &.v-text-field--rounded {
        .v-input__control{
            height: 50px !important;
            min-height: 40px !important;
            display: block;
            .v-input__slot{
                border: 1px solid;
                padding: 0 15px !important;
            }
        }
    }
}
.treeview__tree{
    max-height: 320px;
    overflow-y: auto;
}

// Pagination
.v-application{
    .pagination_theme_default{
        .v-pagination__item--active{
            border-color: $accentColor!important;
            background-color: $accentColor!important;
        }
    }
}


// Table
.v-application{
    .table_theme_default{
        .accent--text{
            color: $accentColor!important;
            caret-color: $accentColor!important;
        }
    }
}

.v-app-bar.v-app-bar--fixed{
    z-index: 6;
}
