<template>
    <div class="custom-multiselect">
        <div class="form-group">
            <v-combobox
                    id="teachers"
                    ref="teachers"
                    :items="items"
                    return-object
                    @change="input"
                    :item-text="itemText"
                    :item-value="itemValue"
                    :rules="[required]"
                    outlined
                    clearable
                    :placeholder="$t('message.select')">
            </v-combobox>
            <label class="label" v-if="label">
                {{label}}
                <i class="warning-icon">!</i>
            </label>
        </div>
        <div class="selections-list" v-show="value.length > 0">
            <div v-for="(item, index) in value"
                 :key="item.id || index"
                 :class="['selections-list__item', isError(item.id) ? 'has-error' : '']"
            >
                <span>{{ item[itemText] }}</span>
                <i class="fas fa-times" @click="remove(item[itemValue])"></i>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'CustomMultiSelect',
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    value: {
      type: Array,
      default: () => [],
    },
    itemText: {
      type: String,
      default: () => 'name',
    },
    itemValue: {
      type: String,
      default: () => 'id',
    },
    errors: {
      type: Object,
      default: () => {},
    },
    label: {},
    showError: {},
  },
  computed: {
    required() {
      return !this.showError || this.$t('message.fieldIsRequired');
    },
  },
  data: () => ({

  }),
  methods: {
    input(val) {
      if (val && val.id) {
        this.$emit('onInput', val);
        setTimeout(() => {
          document.querySelector('.custom-multiselect .v-input__icon--clear i').click();
        }, 10);
      }
    },
    isError(id) {
      return this.errors ? Object.keys(this.errors).indexOf(String(id)) > -1 : null;
    },
    remove(val) {
      if (val) {
        this.$emit('onRemove', val);
      }
    },
  },
};
</script>

<style scoped lang="scss">
    .selections-list{
        padding: 10px;
        border: 1px solid $elementColor;
        border-radius: 5px;
        margin-top: -10px;
    }
    .selections-list__item{
        color: $defaultColor;
        margin-bottom: 5px;
        &.has-error{
            color: $dangerColor;
            font-weight: 500;
            &:after{
                content: '';
                display: inline-block;
                width: 11px;
                height: 11px;
                background: no-repeat center/cover url("../../assets/danger-icon.png");
                margin-left: 5px;
            }
        }
        i{
            color: $primaryColor;
            margin-left: 7px;
            cursor: pointer;
        }
    }
</style>
